.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 850px;
  width: 117px;
}
.sidebar img {
  height: 64px;
  width: 64px;
  margin-top: 20px;
}
.nav-link {
  position: absolute;
  left: 1.81%;
  right: 93.75%;
  top: 33.89%;
  bottom: 59.86%;
  width: 64px;
  height: 350px;
  background-color: BLACK;
  border-radius: 6px;
}
.nav-copyright {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  position: absolute;
  bottom: -135px;
  left: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: white;
  margin: auto;
}
@media screen and (max-width: 1025px) {
  .nav-link {
    top: 26.89%;
  }
  .nav-copyright {
    bottom: 15px;
  }
  .sidebar {
    height: 688px;
  }
}
