.sidebar {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 117px;
}
.sidebar img {
  height: 64px;
  width: 64px;
  margin-top: 20px;
}
.nav-link {
  position: absolute;
  left: 1.81%;
  right: 93.75%;
  top: 33.89%;
  bottom: 59.86%;
  width: 64px;
  height: 316px;
  background-color: BLACK;
  border-radius: 6px;
}
.nav-copyright {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  position: absolute;
  bottom: -78px;
  left: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: white;
  margin: auto;
}
